In [1]:
# Dependencies
import requests
import pymongo
import pandas as pd

In [99]:
# Box Office Mojo URL for films grossing $50M+
url = 'https://www.boxofficemojo.com/alltime/weekends/?pagenum=m50&sort=opengross&p=.htm&order=DESC'
# Box Office Mojo URL for films grossing $50-40M
url2 = 'https://www.boxofficemojo.com/alltime/weekends/?pagenum=m4050&sort=opengross&p=.htm&order=DESC'
# Box Office Mojo URL for all time box office adjusted for inflation
url3 = 'https://www.boxofficemojo.com/alltime/adjusted.htm'
# Box Office Mojo URL for all time box office unadjusted for inflation
url4 = 'https://www.boxofficemojo.com/alltime/adjusted.htm?sort=gross&order=DESC&adjust_yr=2019&p=.htm'

In [3]:
# Using pandas, find all tables on the url page
tables = pd.read_html(url)

# Since tables is a list of all the tables on the page, the required dataframe is stored in index 3
df = tables[3]
# Set the column names
df.columns = ['Rank', 'Title', 'Studio', 'Opening', '% of Total', 'Theaters', 'Average', 'Total Gross', 'Date']
# Remove first row since unnecessary row
df = df.iloc[1:]

In [4]:
# Using pandas, find all tables on the url page
tables2 = pd.read_html(url2)

# Since tables is a list of all the tables on the page, the required dataframe is stored in index 3
df2 = tables2[3]
# Set the column names
df2.columns = ['Rank', 'Title', 'Studio', 'Opening', '% of Total', 'Theaters', 'Average', 'Total Gross', 'Date']
# Remove first row since unnecessary row
df2 = df2.iloc[1:]

In [5]:
# Combine both dataframes into one using concat
boxOffice_df = pd.concat([df,df2])
# Extract only the top 250 highest grossing films
boxOffice_df = boxOffice_df.iloc[0:250]

#Replace abbreviated studio names with actual studio names
boxOffice_df['Studio'].replace(['BV', 'Uni.', 'WB', 'LGF' ,'Sony', 'Sum.' ,'LG/S', 'Fox' ,
                                'Par.', 'WB (NL)', 'P/DW' ,'DW', 'NM' ,'NL', 'MGM'], 
                               ['Buena Vista', 'Universal', 'Warner Bros.', 'Lionsgate' ,'Sony / Columbia', 
                                'Summit Entertainment' ,'Lionsgate' , '20th Century Fox' ,'Paramount', 'Warner Bros.',
                                'Paramount' ,'Dreamworks SKG', 'Newmarket' ,'New Line', 'MGM'], inplace=True)

In [7]:
# Create a list of all the columns that need to be converted
string_to_float = ['Opening','Average','Total Gross']

# Initialize empty lists for new columns
opening = []
average = []
total_gross = []

# For each column that needs to be converted
for column in string_to_float:
    # For each row in the specified column
    for amount in boxOffice_df[column]:
        # Remove the $ symbol
        amount = amount[1:]
        # Remove all commas
        amount = amount.replace(',','')
        # Use if statetements to add the stripped amount to the correct list
        if column == 'Opening':
            opening.append(amount) 
        elif column == 'Average':
            average.append(amount)
        else:
            total_gross.append(amount)
    
# Update the columns with the integer amounts
boxOffice_df['Opening'] = pd.to_numeric(opening)
boxOffice_df['Average'] = pd.to_numeric(average)
boxOffice_df['Total Gross'] = pd.to_numeric(total_gross)
boxOffice_df["Rank"] = pd.to_numeric(boxOffice_df["Rank"])

In [139]:
# Using pandas, find all tables on the url page
tables3 = pd.read_html(url3)

# Since tables is a list of all the tables on the page, the required dataframe is stored in index 1
df3 = tables3[1]

# Set the column names
df3.columns = ['Rank', 'Title', 'Studio', 'Adjusted Gross', 'Unadjusted Gross', 'Year']
# Remove first row since unnecessary row
df3 = df3.iloc[1:]

# Extract only the top 250 highest grossing films
df3 = df3.iloc[0:250]

df3['Rank'] = pd.to_numeric(df3['Rank'])

df3['Studio'].replace(['BV', 'Uni.', 'WB', 'LGF' ,'Sony', 'Sum.' ,'LG/S', 'Fox' , 'Dis.','TriS', 'Col.',
                                'Par.', 'WB (NL)', 'P/DW' ,'DW', 'NM' ,'NL', 'MGM','UA','AIP','Selz.' ], 
                               ['Buena Vista', 'Universal', 'Warner Bros.', 'Lionsgate' ,'Sony / Columbia', 
                                'Summit Entertainment' ,'Lionsgate' , '20th Century Fox' ,'Buena Vista', 'Sony / Columbia',
                                'Sony / Columbia', 'Paramount', 'Warner Bros.','Paramount' ,'Dreamworks SKG', 'Newmarket' ,
                                'New Line', 'MGM','MGM','American International Pictures','Selznick' ], inplace=True)

array(['MGM', '20th Century Fox', 'Universal', 'Paramount',
       'Warner Bros.', 'Buena Vista', 'AVCO', 'Sony / Columbia',
       'Dreamworks SKG', 'RKO', 'New Line', 'Newmarket', 'Lionsgate',
       'Selznick', 'MPC', 'Orion', 'IFC', 'Summit Entertainment'],
      dtype=object)

In [143]:
# Using pandas, find all tables on the url page
tables4 = pd.read_html(url4)

# Since tables is a list of all the tables on the page, the required dataframe is stored in index 1
df4 = tables4[1]

# Set the column names
df4.columns = ['Rank','Row', 'Title', 'Studio', 'Adjusted Gross', 'Unadjusted Gross', 'Year']
# Remove first row since unnecessary row
df4 = df4.iloc[1:]

# Extract only the top 250 highest grossing films
df4 = df4.iloc[0:250]


df4 = df4[['Rank', 'Title', 'Studio', 'Adjusted Gross', 'Unadjusted Gross', 'Year']]

fixed_unadj = []

for adj,unadj in zip(df4['Adjusted Gross'],df4['Unadjusted Gross']):
    if unadj == '2019':
        unadj = adj
        unadj = unadj[1:]
        unadj = unadj.replace(",","")
        fixed_unadj.append(unadj)
    else:
        unadj = unadj[1:]
        unadj = unadj.replace(",","")
        fixed_unadj.append(unadj)
        
df4['Unadjusted Gross'] = fixed_unadj
df4['Unadjusted Gross'] = pd.to_numeric(df4['Unadjusted Gross'])
df4['Rank'] = pd.to_numeric(df4['Rank'])

df4['Studio'].replace(['BV', 'Uni.', 'WB', 'LGF' ,'Sony', 'Sum.' ,'LG/S', 'Fox' , 'Dis.','TriS', 'Col.',
                                'Par.', 'WB (NL)', 'P/DW' ,'DW', 'NM' ,'NL', 'MGM','UA','AIP'], 
                               ['Buena Vista', 'Universal', 'Warner Bros.', 'Lionsgate' ,'Sony / Columbia', 
                                'Summit Entertainment' ,'Lionsgate' , '20th Century Fox' ,'Buena Vista', 'Sony / Columbia',
                                'Sony / Columbia', 'Paramount', 'Warner Bros.','Paramount' ,'Dreamworks SKG', 'Newmarket' ,
                                'New Line', 'MGM','MGM','American International Pictures'], inplace=True)

df4.dtypes

Rank                 int64
Title               object
Studio              object
Adjusted Gross      object
Unadjusted Gross     int64
Year                object
dtype: object

In [145]:
adjusted_df = df3.merge(df4,left_on = 'Rank',right_on='Rank')
adjusted_df.head()

,Rank,Title_x,Studio_x,Adjusted Gross_x,Unadjusted Gross_x,Year_x,Title_y,Studio_y,Adjusted Gross_y,Unadjusted Gross_y,Year_y
0,1,Gone with the Wind,MGM,"$1,822,598,200","$200,852,579",1939^,Star Wars: The Force Awakens,Buena Vista,"$974,117,000",936662225,2015
1,2,Star Wars,20th Century Fox,"$1,604,857,600","$460,998,007",1977^,Avengers: Endgame,Buena Vista,"$858,373,000",858373000,2015
2,3,The Sound of Music,20th Century Fox,"$1,283,791,300","$159,287,539",1965^,Avatar,20th Century Fox,"$876,759,300",760507625,2009^
3,4,E.T.: The Extra-Terrestrial,Universal,"$1,278,107,600","$435,110,554",1982^,Black Panther,Buena Vista,"$687,213,600",700059566,2018
4,5,Titanic,Paramount,"$1,221,303,800","$659,363,944",1997^,Avengers: Infinity War,Buena Vista,"$652,501,800",678815482,2018

In [146]:
adjusted_df = df3.merge(df4,left_on = 'Rank',right_on='Rank')
adjusted_df = adjusted_df[['Rank', 'Title_x', 'Adjusted Gross_x', 'Title_y', 'Unadjusted Gross_y']]

adjusted_gross = []
for amount in adjusted_df['Adjusted Gross_x']:
    # Remove the $ symbol
    amount = amount[1:]
    # Remove all commas
    amount = amount.replace(',','')
    # Append stripped number to list
    adjusted_gross.append(amount)
    
adjusted_df['Adjusted Gross_x'] = adjusted_gross
adjusted_df['Adjusted Gross_x'] = pd.to_numeric(adjusted_df['Adjusted Gross_x'])
adjusted_df.head()

,Rank,Title_x,Adjusted Gross_x,Title_y,Unadjusted Gross_y
0,1,Gone with the Wind,1822598200,Star Wars: The Force Awakens,936662225
1,2,Star Wars,1604857600,Avengers: Endgame,858373000
2,3,The Sound of Music,1283791300,Avatar,760507625
3,4,E.T.: The Extra-Terrestrial,1278107600,Black Panther,700059566
4,5,Titanic,1221303800,Avengers: Infinity War,678815482

In [8]:
# Online Movie Database (OMDB) API URL including API Key and full plot
api_url = "http://www.omdbapi.com/?apikey=57e34fb6&plot=full"

# MongoDB connection
conn = 'mongodb+srv://generaluser:generaluser123@project2-ha8my.mongodb.net/db?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [161]:
movie_data = []
wrong_movies= {"MIB 3":'tt1409024',
               "Fast & Furious Presents: Hobbs & Shaw":'tt6806448',
               "Star Wars: The Force Awakens": 'tt2488496',
               "Marvel's The Avengers":'tt0848228',
               "The Divergent Series: Insurgent":'tt2908446',
               "Dr. Seuss' The Lorax":'tt1482459',
               "Monsters Vs. Aliens":'tt0892782',
               "Jackass 3-D":'tt1116184',
               "Dr. Seuss' The Grinch (2018)":'tt2709692',
               "Fantastic Four: Rise of the Silver Surfer":'tt0486576',
               "Kramer Vs. Kramer":'tt0079417',
               "Mission: Impossible":'tt0117060',
               "The Amityville Horror":'tt0078767',
               "Three Men and a Baby":'tt0094137'}

for title in df4['Title']:
    if title in wrong_movies:
        movie_id = wrong_movies[title]
        movie = requests.get(api_url + '&i=' + movie_id).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    elif "(" in title:
        year = title[-5:][:-1]
        title = title[:-6]
        movie = requests.get(api_url + '&t=' + title + '&y=' + year).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    else:
        movie = requests.get(api_url + '&t=' + title).json()
        if movie['Response'] == "True":
            movie_data.append(movie)

In [162]:
for movie in movie_data:
    print(movie['Title'])

Star Wars: Episode VII - The Force Awakens
Avengers: Endgame
Avatar
Black Panther
Avengers: Infinity War
Titanic
Jurassic World
The Avengers
Star Wars: The Last Jedi
Incredibles 2
The Lion King
The Dark Knight
Rogue One: A Star Wars Story
Beauty and the Beast
Finding Dory
Star Wars: Episode I - The Phantom Menace
Star Wars: Episode IV - A New Hope
Avengers: Age of Ultron
The Dark Knight Rises
Shrek 2
E.T. the Extra-Terrestrial
Toy Story 4
Captain Marvel
The Hunger Games: Catching Fire
Pirates of the Caribbean: Dead Man's Chest
The Lion King
Jurassic World: Fallen Kingdom
Toy Story 3
Wonder Woman
Iron Man 3
Captain America: Civil War
The Hunger Games
Jumanji: Welcome to the Jungle
Spider-Man
Jurassic Park
Transformers: Revenge of the Fallen
Frozen
Spider-Man: Far from Home
Guardians of the Galaxy Vol. 2
Harry Potter and the Deathly Hallows: Part 2
Finding Nemo
Star Wars: Episode III - Revenge of the Sith
The Lord of the Rings: The Return of the King
Spider-Man 2
The Passion of the Christ
The Secret Life of Pets
Despicable Me 2
The Jungle Book
Deadpool
Inside Out
Aladdin
Furious 7
Transformers: Dark of the Moon
American Sniper
The Lord of the Rings: The Two Towers
Zootopia
The Hunger Games: Mockingjay - Part 1
Spider-Man 3
Minions
Aquaman
Spider-Man: Homecoming
Alice in Wonderland
Guardians of the Galaxy
Forrest Gump
Batman v Superman: Dawn of Justice
It
Suicide Squad
Deadpool 2
Shrek the Third
Transformers
Iron Man
Harry Potter and the Sorcerer's Stone
Indiana Jones and the Kingdom of the Crystal Skull
The Lord of the Rings: The Fellowship of the Ring
Thor: Ragnarok
Iron Man 2
Star Wars: Episode II - Attack of the Clones
Pirates of the Caribbean: At World's End
Star Wars: Episode VI - Return of the Jedi
Independence Day
Pirates of the Caribbean: The Curse of the Black Pearl
Skyfall
The Hobbit: An Unexpected Journey
Harry Potter and the Half-Blood Prince
The Twilight Saga: Eclipse
The Twilight Saga: New Moon
Harry Potter and the Deathly Hallows: Part 1
The Sixth Sense
Up
Inception
The Twilight Saga: Breaking Dawn - Part 2
Harry Potter and the Order of the Phoenix
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Man of Steel
Star Wars: Episode V - The Empire Strikes Back
Harry Potter and the Goblet of Fire
Monsters, Inc.
Home Alone
The Hunger Games: Mockingjay - Part 2
The Matrix Reloaded
The Twilight Saga: Breaking Dawn - Part 1
Meet the Fockers
The Hangover
Gravity
Monsters University
Shrek
Harry Potter and the Chamber of Secrets
The Amazing Spider-Man
The Incredibles
How the Grinch Stole Christmas
Jaws
The Hobbit: The Desolation of Smaug
The Lego Movie
Star Trek
I Am Legend
The Blind Side
The Hangover Part II
Despicable Me
Batman
Night at the Museum
Men in Black
Harry Potter and the Prisoner of Azkaban
Raiders of the Lost Ark
Toy Story 2
Cars
Bruce Almighty
Ghostbusters
Twister
My Big Fat Greek Wedding
Beverly Hills Cop
X-Men: The Last Stand
War of the Worlds
Cast Away
The Exorcist
The Lost World: Jurassic Park
Signs
Hancock
The Bourne Ultimatum
Rush Hour 2
Mrs. Doubtfire
Beauty and the Beast
King Kong
Ghost
The Da Vinci Code
Aladdin
Saving Private Ryan
Mission: Impossible II
X2: X-Men United
Austin Powers in Goldmember
Back to the Future
Wedding Crashers
Batman Begins
Charlie and the Chocolate Factory
Austin Powers: The Spy Who Shagged Me
Terminator 2: Judgment Day
The Mummy Returns
Armageddon
Gone with the Wind
Pearl Harbor
Indiana Jones and the Last Crusade
Toy Story
Men in Black II
Grease
Gladiator
Snow White and the Seven Dwarfs
Dances with Wolves
Batman Forever
The Fugitive
Ocean's Eleven
What Women Want
The Perfect Storm
Liar Liar
Jurassic Park III
Mission: Impossible
Planet of the Apes
Indiana Jones and the Temple of Doom
Top Gun
Pretty Woman
Tootsie
There's Something About Mary
Crocodile Dundee
Apollo 13
Home Alone 2: Lost in New York
Air Force One
Rain Man
The Matrix
Tarzan
3 Men and a Baby
Robin Hood: Prince of Thieves
Big Daddy
Batman Returns
A Bug's Life
The Waterboy
The Sound of Music
The Firm
Fatal Attraction
Who Framed Roger Rabbit
The Sting
Jerry Maguire
Beverly Hills Cop II
Gremlins
Rambo: First Blood Part II
As Good as It Gets
Lethal Weapon 2
True Lies
101 Dalmatians
The Santa Clause
Lethal Weapon 3
The Jungle Book
National Lampoon's Animal House
Pocahontas
A Few Good Men
Look Who's Talking
Sister Act
Platoon
Teenage Mutant Ninja Turtles
Close Encounters of the Third Kind
The Godfather
Superman
Honey, I Shrunk the Kids
An Officer and a Gentleman
Rocky IV
Smokey and the Bandit
Rocky III
Blazing Saddles
On Golden Pond
Rocky
The Towering Inferno
American Graffiti
The Rocky Horror Picture Show
Doctor Zhivago
Porky's
One Flew Over the Cuckoo's Nest
Terms of Endearment
Superman II
Love Story
Kramer vs. Kramer
The Graduate
9 to 5
Butch Cassidy and the Sundance Kid
Mary Poppins
Bambi
Stir Crazy
Airport
Arthur
Saturday Night Fever
Lady and the Tramp
Cinderella
Peter Pan
The Amityville Horror

In [160]:
movie_df1 = pd.DataFrame(movie_data)
movie_df1

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,Response,Runtime,Title,Type,Website,Writer,Year,imdbID,imdbRating,imdbVotes
0,"Harrison Ford, Mark Hamill, Carrie Fisher, Ada...",Nominated for 5 Oscars. Another 57 wins & 123 ...,"$936,658,640",USA,05 Apr 2016,J.J. Abrams,"Action, Adventure, Sci-Fi",English,81,30 years after the defeat of Darth Vader and t...,...,True,138 min,Star Wars: Episode VII - The Force Awakens,movie,http://starwars.com/,"Lawrence Kasdan, J.J. Abrams, Michael Arndt, G...",2015,tt2488496,8.0,"793,036"
1,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",N/A,N/A,"USA, UK, Canada",30 Jul 2019,"Anthony Russo, Joe Russo","Action, Adventure, Sci-Fi","English, Japanese, Xhosa",78,After the devastating events of Avengers: Infi...,...,True,181 min,Avengers: Endgame,movie,N/A,"Christopher Markus (screenplay by), Stephen Mc...",2019,tt4154796,8.6,"561,813"
2,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,"$749,700,000",USA,22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,"When his brother is killed in a robbery, parap...",...,True,162 min,Avatar,movie,http://www.avatarmovie.com/,James Cameron,2009,tt0499549,7.8,"1,059,860"
3,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",14 nominations.,"$501,105,037",USA,15 May 2018,Ryan Coogler,"Action, Adventure, Sci-Fi","English, Swahili, Nama, Xhosa, Korean",88,After the events of Captain America: Civil War...,...,True,134 min,Black Panther,movie,https://www.marvel.com/movies/black-panther,"Ryan Coogler, Joe Robert Cole, Stan Lee (based...",2018,tt1825683,7.3,"538,936"
4,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",N/A,"$664,987,816",USA,14 Aug 2018,"Anthony Russo, Joe Russo","Action, Adventure, Sci-Fi",English,68,The Avengers and their allies must be willing ...,...,True,149 min,Avengers: Infinity War,movie,http://marvel.com/movies/movie/223/avengers_in...,"Christopher Markus (screenplay by), Stephen Mc...",2018,tt4154756,8.5,"706,537"
5,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",Won 11 Oscars. Another 111 wins & 77 nominations.,N/A,USA,10 Sep 2012,James Cameron,"Drama, Romance","English, Swedish, Italian",75,"84 years later, a 100 year-old woman named Ros...",...,True,194 min,Titanic,movie,N/A,James Cameron,1997,tt0120338,7.8,"973,565"
6,"Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...",14 wins & 57 nominations.,"$528,757,749",USA,20 Oct 2015,Colin Trevorrow,"Action, Adventure, Sci-Fi",English,59,22 years after the original Jurassic Park fail...,...,True,124 min,Jurassic World,movie,http://www.jurassicworldmovie.com/,"Rick Jaffa (screenplay by), Amanda Silver (scr...",2015,tt0369610,7.0,"547,323"
7,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Nominated for 1 Oscar. Another 38 wins & 79 no...,"$623,279,547",USA,25 Sep 2012,Joss Whedon,"Action, Adventure, Sci-Fi","English, Russian, Hindi",69,"Nick Fury is the director of S.H.I.E.L.D., an ...",...,True,143 min,The Avengers,movie,http://marvel.com/avengers_movie,"Joss Whedon (screenplay), Zak Penn (story), Jo...",2012,tt0848228,8.0,"1,200,683"
8,"Mark Hamill, Carrie Fisher, Adam Driver, Daisy...",Nominated for 4 Oscars. Another 12 wins & 71 n...,"$619,117,636",USA,27 Mar 2018,Rian Johnson,"Action, Adventure, Fantasy, Sci-Fi",English,85,Rey develops her newly discovered abilities wi...,...,True,152 min,Star Wars: The Last Jedi,movie,http://www.starwars.com/the-last-jedi/,"Rian Johnson, George Lucas (based on character...",2017,tt2527336,7.1,"476,677"
9,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",N/A,N/A,USA,23 Oct 2018,Brad Bird,"Animation, Action, Adventure, Comedy, Family, ...",English,80,The Incredibles hero family takes on a new mis...,...,True,118 min,Incredibles 2,movie,http://movies.disney.com/the-incredibles-2,Brad Bird,2018,tt3606756,7.7,"215,257"
10,"Chiwetel Ejiofor, John Oliver, James Earl Jone...",N/A,N/A,USA,N/A,Jon Favreau,"Animation, Adventure, Drama, Family, Musical",English,55,"After the murder of his father, a young lion p...",...,True,118 min,The Lion King,movie,https://movies.disney.com/the-lion-king-2019,"Jeff Nathanson (screenplay by), Brenda Chapman...",2019,tt6105098,7.1,"102,621"
11,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Won 2 Oscars. Another 152 wins & 155 nominations.,"$533,316,061","USA, UK",09 Dec 2008,Christopher Nolan,"Action, Crime, Drama, Thriller","English, Mandarin",84,Set within a year after the events of Batman B...,...,True,152 min,The Dark Knight,movie,http://thedarkknight.warnerbros.com/,"Jonathan Nolan (screenplay), Christopher Nolan...",2008,tt0468569,9.0,"2,101,295"
12,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",Nominated for 2 Oscars. Another 23 wins & 78 n...,"$532,171,696",USA,04 Apr 2017,Gareth Edwards,"Action, Adventure, Sci-Fi",English,65,All looks lost for the Rebellion against the E...,...,True,133 min,Rogue One: A Star Wars Story,movie,http://www.starwars.com/,"Chris Weitz (screenplay by), Tony Gilroy (scre...",2016,tt3748528,7.8,"489,309"
13,"Emma Watson, Dan Stevens, Luke Evans, Josh Gad",Nominated for 2 Oscars. Another 12 wins & 65 n...,"$503,974,884",USA,06 Jun 2017,Bill Condon,"Family, Fantasy, Musical, Romance",English,65,"Disney's animated classic takes on a new form,...",...,True,129 min,Beauty and the Beast,movie,http://movies.disney.com/beauty-and-the-beast-...,"Stephen Chbosky (screenplay by), Evan Spilioto...",2017,tt2771200,7.2,"243,966"
14,"Ellen DeGeneres, Albert Brooks, Ed O'Neill, Ka...",Nominated for 1 BAFTA Film Award. Another 15 w...,"$486,292,984",USA,15 Nov 2016,"Andrew Stanton, Angus MacLane(co-director)","Animation, Adventure, Comedy, Family","English, Indonesian",77,"Dory is a wide-eyed, blue tang fish who suffer...",...,True,97 min,Finding Dory,movie,http://movies.disney.com/finding-dory,"Andrew Stanton (original story by), Andrew Sta...",2016,tt2277860,7.3,"218,175"
15,"Liam Neeson, Ewan McGregor, Natalie Portman, J...",Nominated for 3 Oscars. Another 26 wins & 65 n...,"$431,000,000",USA,16 Oct 2001,George Lucas,"Action, Adventure, Fantasy, Sci-Fi",English,51,"The evil Trade Federation, led by Nute Gunray ...",...,True,136 min,Star Wars: Episode I - The Phantom Menace,movie,http://www.starwars.com/episode-i/,George Lucas,1999,tt0120915,6.5,"664,432"
16,"Mark Hamill, Harrison Ford, Carrie Fisher, Pet...",Won 6 Oscars. Another 50 wins & 28 nominations.,N/A,USA,21 Sep 2004,George Lucas,"Action, Adventure, Fantasy, Sci-Fi",English,90,"The Imperial Forces, under orders from cruel D...",...,True,121 min,Star Wars: Episode IV - A New Hope,movie,N/A,George Lucas,1977,tt0076759,8.6,"1,138,257"
17,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",7 wins & 45 nominations.,"$429,113,729",USA,02 Oct 2015,Joss Whedon,"Action, Adventure, Sci-Fi","English, Korean",66,Tony Stark creates the Ultron Program to prote...,...,True,141 min,Avengers: Age of Ultron,movie,http://marvel.com/avengers,"Joss Whedon, Stan Lee (based on the Marvel com...",2015,tt2395427,7.3,"680,834"
18,"Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Nominated for 1 BAFTA Film Award. Another 38 w...,"$448,130,642","UK, USA",03 Dec 2012,Christopher Nolan,"Action, Thriller","English, Arabic",78,Despite his tarnished reputation after the eve...,...,True,164 min,The Dark Knight Rises,movie,http://www.thedarkknightrises.com/,"Jonathan Nolan (screenplay), Christopher Nolan...",2012,tt1345836,8.4,"1,408,657"
19,"Mike Myers, Eddie Murphy, Cameron Diaz, Julie ...",Nominated for 2 Oscars. Another 18 wins & 50 n...,"$436,471,036",USA,02 Nov 2004,"Andrew Adamson, Kelly Asbury, Conrad Vernon","Animation, Adventure, Comedy, Family, Fantasy,...",English,75,"Shrek has rescued Princess Fiona, got married,...",...,True,93 min,Shrek 2,movie,http://www.shrek2.com/,"William Steig (based upon the book by), Andrew...",2004,tt0298148,7.2,"387,979"
20,"Dee Wallace, Henry Thomas, Peter Coyote, Rober...",Won 4 Oscars. Another 47 wins & 34 nominations.,N/A,USA,22 Oct 2002,Steven Spielberg,"Family, Sci-Fi",English,91,After a gentle alien becomes stranded on Earth...,...,True,115 min,E.T. the Extra-Terrestrial,movie,N/A,Melissa Mathison,1982,tt0083866,7.8,"341,671"
21,"Tom Hanks, Tim Allen, Annie Potts, Tony Hale",N/A,N/A,USA,N/A,Josh Cooley,"Animation, Adventure, Comedy, Family, Fantasy",English,84,"When a new toy called ""Forky"" joins Woody and ...",...,True,100 min,Toy Story 4,movie,https://movies.disney.com/toy-story-4,"John Lasseter (original story by), Andrew Stan...",2019,tt1979376,8.1,"96,147"
22,"Brie Larson, Samuel L. Jackson, Ben Mendelsohn...",N/A,N/A,"USA, Australia",11 Jun 2019,"Anna Boden, Ryan Fleck","Action, Adventure, Sci-Fi",English,64,Carol Danvers becomes one of the universe's mo...,...,True,123 min,Captain Marvel,movie,https://movies.disney.com/captain-marvel,"Anna Boden (screenplay by), Ryan Fleck (screen...",2019,tt4154664,7.0,"359,923"
23,"Jennifer Lawrence, Liam Hemsworth, Jack Quaid,...",Nominated for 1 Golden Globe. Another 22 wins ...,"$336,663,349",USA,07 Mar 2014,Francis Lawrence,"Action, Adventure, Sci-Fi, Thriller",English,76,Twelve months after winning the 74th Hunger Ga...,...,True,146 min,The Hunger Games: Catching Fire,movie,http://www.thehungergamesexplorer.com/us/,"Simon Beaufoy (screenplay), Michael Arndt (scr...",2013,tt1951264,7.5,"581,625"
24,"Johnny Depp, Orlando Bloom, Keira Knightley, J...",Won 1 Oscar. Another 42 wins & 53 nominations.,"$423,032,628",USA,05 Dec 2006,Gore Verbinski,"Action, Adventure, Fantasy","English, Turkish, Greek, Mandarin, French",53,Once again we're plunged into the world of swo...,...,True,151 min,Pirates of the Caribbean: Dead Man's Chest,movie,http://pirates.movies.com,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",2006,tt0383574,7.3,"620,022"
25,"Rowan Atkinson, Matthew Broderick, Niketa Cala...",Won 2 Oscars. Another 33 wins & 29 nominations.,"$94,240,635",USA,07 Oct 2003,"Roger Allers, Rob Minkoff","Animation, Adventure, Drama, Family, Musical","English, Swahili, Xhosa, Zulu",88,A young lion Prince is cast out of his pride b...,...,True,88 min,The Lion King,movie,N/A,"Irene Mecchi (screenplay by), Jonathan Roberts...",1994,tt0110357,8.5,"862,735"
26,"Chris Pratt, Bryce Dallas Howard, Rafe Spall, ...",N/A,N/A,USA,18 Sep 2018,J.A. Bayona,"Action, Adventure, Sci-Fi","English, Russian",51,When the island's dormant volcano begins roari...,...,True,128 min,Jurassic World: Fallen Kingdom,movie,http://www.jurassicworld.com,"Derek Connolly, Colin Trevorrow, Michael Crich...",2018,tt4881806,6.2,"229,305"
27,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty",Won 2 Oscars. Another 58 wins & 91 nominations.,"$414,984,497",USA,02 Nov 2010,Lee Unkrich,"Animation, Adventure, Comedy, Family, Fantasy","English, Spanish",92,"Woody, Buzz and the whole gang are back. As th...",...,True,103 min,Toy Story 3,movie,http://www.disney.com/ToyStory,"John Lasseter (story by), Andrew Stanton (stor...",2010,tt0435761,8.3,"697,972"
28,"Gal Gadot, Chris Pine, Connie Nielsen, Robin W...",17 wins & 54 nominations.,"$412,400,625","USA, China, Hong Kong",19 Sep 2017,Patty Jenkins,"Action, Adventure, Fantasy, Sci-Fi, War","English, German, Dutch, French, Spanish, Chine...",76,"Diana, princess of the Amazons, trained to be ...",...,True,141 min,Wonder Woman,movie,http://wonderwomanfilm.com/,"Allan Heinberg (screenplay by), Zack Snyder (s...",2017,tt0451279,7.4,"501,523"
29,"Robert Downey Jr., Gwyneth Paltrow, Don Cheadl...",Nominated for 1 Oscar. Another 17 wins & 61 no...,"$408,992,272",USA,24 Sep 2013,Shane Black,"Action, Adventure, Sci-Fi",English,62,"Marvel's ""Iron Man 3"" pits brash-but-brilliant...",...,True,130 min,Iron Man 3,movie,http://IronManMovie3.com,"Drew Pearce (screenplay by), Shane Black (scre...",2013,tt1300854,7.2,"706,865"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,"Richard Gere, Debra Winger, David Keith, Rober...",Won 2 Oscars. Another 7 wins & 13 nominations.,N/A,USA,12 Dec 2000,Taylor Hackford,"Drama, Romance","English, Filipino",75,Zack Mayo is a young man who has signed up for...,...,True,124 min,An Officer and a Gentleman,movie,N/A,Douglas Day Stewart,1982,tt0084434,7.0,"44,985"
221,"Sylvester Stallone, Talia Shire, Burt Young, C...",9 wins & 5 nominations.,N/A,USA,25 Aug 1998,Sylvester Stallone,"Drama, Sport","English, Russian",40,"Ever since his match with Clubber Lang, Rocky ...",...,True,91 min,Rocky IV,movie,N/A,Sylvester Stallone,1985,tt0089927,6.9,"171,937"
222,"Burt Reynolds, Sally Field, Jerry Reed, Mike H...",Nominated for 1 Oscar. Another 1 nomination.,N/A,USA,27 Oct 1998,Hal Needham,"Action, Comedy",English,50,Bandit and Cledus are two truck-driving southe...,...,True,96 min,Smokey and the Bandit,movie,N/A,"Hal Needham (story), Robert L. Levy (story), J...",1977,tt0076729,6.9,"41,552"
223,"Sylvester Stallone, Talia Shire, Burt Young, C...",Nominated for 1 Oscar. Another 2 wins & 7 nomi...,N/A,USA,18 Mar 2003,Sylvester Stallone,"Drama, Sport",English,57,Three years and 10 successful title defenses a...,...,True,99 min,Rocky III,movie,N/A,Sylvester Stallone,1982,tt0084602,6.8,"159,554"
224,"Cleavon Little, Gene Wilder, Slim Pickens, Har...",Nominated for 3 Oscars. Another 3 wins & 2 nom...,N/A,USA,27 Aug 1997,Mel Brooks,"Comedy, Western","English, Yiddish, German",73,The Ultimate Western Spoof. A town where every...,...,True,93 min,Blazing Saddles,movie,N/A,"Mel Brooks (screenplay), Norman Steinberg (scr...",1974,tt0071230,7.7,"117,493"
225,"Katharine Hepburn, Henry Fonda, Jane Fonda, Do...",Won 3 Oscars. Another 11 wins & 23 nominations.,N/A,"UK, USA",20 Mar 2001,Mark Rydell,Drama,English,68,The loons are back again on Golden Pond and so...,...,True,109 min,On Golden Pond,movie,N/A,"Ernest Thompson (screenplay), Ernest Thompson ...",1981,tt0082846,7.6,"25,597"
226,"Sylvester Stallone, Talia Shire, Burt Young, C...",Won 3 Oscars. Another 17 wins & 21 nominations.,N/A,USA,07 Aug 2006,John G. Avildsen,"Drama, Sport",English,70,Rocky Balboa is a struggling boxer trying to m...,...,True,120 min,Rocky,movie,N/A,Sylvester Stallone,1976,tt0075148,8.1,"478,849"
227,"Steve McQueen, Paul Newman, William Holden, Fa...",Won 3 Oscars. Another 9 wins & 13 nominations.,N/A,USA,09 Mar 1999,John Guillermin,"Action, Drama, Thriller",English,69,"Doug Roberts, Architect, returns from a long v...",...,True,165 min,The Towering Inferno,movie,N/A,"Richard Martin Stern (novel), Thomas N. Scorti...",1974,tt0072308,6.9,"36,189"
228,"Richard Dreyfuss, Ron Howard, Paul Le Mat, Cha...",Nominated for 5 Oscars. Another 9 wins & 8 nom...,N/A,USA,15 Sep 1998,George Lucas,"Comedy, Drama",English,97,It's the proverbial end of the summer 1962 in ...,...,True,110 min,American Graffiti,movie,N/A,"George Lucas, Gloria Katz, Willard Huyck",1973,tt0069704,7.4,"75,728"
229,"Tim Curry, Susan Sarandon, Barry Bostwick, Ric...",3 wins & 4 nominations.,N/A,"UK, USA",03 Oct 2000,Jim Sharman,"Comedy, Musical",English,58,"While driving home during a rain filled night,...",...,True,100 min,The Rocky Horror Picture Show,movie,N/A,"Richard O'Brien (original musical play), Jim S...",1975,tt0073629,7.4,"122,674"
230,"Omar Sharif, Julie Christie, Geraldine Chaplin...",Won 5 Oscars. Another 16 wins & 13 nominations.,N/A,"USA, Italy, UK, Liechtenstein",01 Jan 1998,David Lean,"Drama, Romance, War","English, Russian, French",69,"During the Russian Revolution, Yuri Zhivago, i...",...,True,197 min,Doctor Zhivago,movie,N/A,"Boris Pasternak (novel), Robert Bolt (screenplay)",1965,tt0059113,8.0,"65,136"
231,"Dan Monahan, Mark Herrier, Wyatt Knight, Roger...",1 win & 1 nomination.,N/A,"Canada, USA",05 Sep 2000,Bob Clark,Comedy,English,40,1954. The sexual hijinks of a group of mid-tee...,...,True,94 min,Porky's,movie,N/A,Bob Clark,1981,tt0084522,6.2,"35,710"
232,"Jack Nicholson, Louise Fletcher, Will Sampson,...",Won 5 Oscars. Another 30 wins & 13 nominations.,N/A,USA,09 Dec 1997,Milos Forman,Drama,English,83,McMurphy has a criminal past and has once agai...,...,True,133 min,One Flew Over the Cuckoo's Nest,movie,N/A,"Lawrence Hauben (screenplay), Bo Goldman (scre...",1975,tt0073486,8.7,"843,073"
233,"Shirley MacLaine, Debra Winger, Jack Nicholson...",Won 5 Oscars. Another 27 wins & 18 nominations.,N/A,USA,10 Apr 2001,James L. Brooks,"Comedy, Drama",English,79,Aurora and Emma are mother and daughter who ma...,...,True,132 min,Terms of Endearment,movie,N/A,"Larry McMurtry (based on the novel by), James ...",1983,tt0086425,7.4,"50,262"
234,"Gene Hackman, Christopher Reeve, Ned Beatty, J...",3 wins & 6 nominations.,N/A,"USA, UK, Canada",01 May 2001,"Richard Lester, Richard Donner","Action, Adventure, Sci-Fi","English, French, Russian",87,"Picking up where ""Superman: The Movie"" left of...",...,True,127 min,Superman II,movie,N/A,"Jerry Siegel (character created by: Superman),...",1980,tt0081573,6.8,"91,810"
235,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",Won 1 Oscar. Another 9 wins & 16 nominations.,N/A,USA,24 Apr 2001,Arthur Hiller,"Drama, Romance",English,84,Harvard Law student Oliver Barrett IV and musi...,...,True,100 min,Love Story,movie,N/A,Erich Segal,1970,tt0066011,6.9,"27,191"
236,"Dustin Hoffman, Meryl Streep, Jane Alexander, ...",Won 5 Oscars. Another 33 wins & 23 nominations.,N/A,USA,28 Aug 2001,Robert Benton,Drama,English,77,Ted Kramer is a career man for whom his work c...,...,True,105 min,Kramer vs. Kramer,movie,N/A,"Avery Corman (from the novel by), Robert Bento...",1979,tt0079417,7.8,"120,523"
237,"Anne Bancroft, Dustin Hoffman, Katharine Ross,...",Won 1 Oscar. Another 20 wins & 16 nominations.,N/A,USA,19 Jun 2001,Mike Nichols,"Comedy, Drama, Romance",English,83,"Ben has recently graduated from college, with ...",...,True,106 min,The Graduate,movie,N/A,"Calder Willingham (screenplay), Buck Henry (sc...",1967,tt0061722,8.0,"240,222"
238,"Jane Fonda, Lily Tomlin, Dolly Parton, Dabney ...",Nominated for 1 Oscar. Another 3 wins & 6 nomi...,N/A,USA,17 Apr 2001,Colin Higgins,Comedy,"English, French",58,Meet Franklin Hart ('Coleman'). The biggest 's...,...,True,109 min,9 to 5,movie,N/A,"Patricia Resnick (story), Colin Higgins (scree...",1980,tt0080319,6.8,"25,029"
239,"Paul Newman, Robert Redford, Katharine Ross, S...",Won 4 Oscars. Another 16 wins & 14 nominations.,N/A,USA,16 May 2000,George Roy Hill,"Biography, Crime, Drama, Western","English, Spanish",66,Butch and Sundance are the two leaders of the ...,...,True,110 min,Butch Cassidy and the Sundance Kid,movie,N/A,William Goldman,1969,tt0064115,8.0,"189,548"
240,"Julie Andrews, Dick Van Dyke, David Tomlinson,...",Won 5 Oscars. Another 15 wins & 17 nominations.,N/A,USA,24 Mar 1998,Robert Stevenson,"Comedy, Family, Fantasy, Musical",English,88,"When Jane and Michael, the children of the wea...",...,True,139 min,Mary Poppins,movie,N/A,"Bill Walsh (screenplay), Don DaGradi (screenpl...",1964,tt0058331,7.8,"145,198"
241,"Hardie Albright, Stan Alexander, Bobette Audre...",Nominated for 3 Oscars. Another 5 wins & 3 nom...,N/A,USA,01 Mar 2005,"James Algar, Samuel Armstrong, David Hand, Gra...","Animation, Drama, Family",English,91,"The animated story of Bambi, a young deer hail...",...,True,70 min,Bambi,movie,N/A,"Felix Salten (from the story by), Perce Pearce...",1942,tt0034492,7.3,"120,070"
242,"Gene Wilder, Richard Pryor, Georg Stanford Bro...",1 nomination.,N/A,USA,28 Aug 2001,Sidney Poitier,"Comedy, Crime",English,56,Skip and Harry are framed for a bank robbery a...,...,True,111 min,Stir Crazy,movie,N/A,Bruce Jay Friedman,1980,tt0081562,6.8,"23,064"
243,"Burt Lancaster, Dean Martin, Jean Seberg, Jacq...",Won 1 Oscar. Another 3 wins & 19 nominations.,N/A,USA,15 Jan 1999,"George Seaton, Henry Hathaway","Action, Drama, Thriller","English, Italian",42,"This precursor to later ""epic"" 70's disaster f...",...,True,137 min,Airport,movie,N/A,"Arthur Hailey (from the novel by), George Seat...",1970,tt0065377,6.6,"16,138"

In [9]:
# 
movie_data = []
wrong_movies= {"MIB 3":'tt1409024',
           "Fast & Furious Presents: Hobbs & Shaw":'tt6806448',
           "Star Wars: The Force Awakens": 'tt2488496',
           "Marvel's The Avengers":'tt0848228',
           "The Divergent Series: Insurgent":'tt2908446',
           "Dr. Seuss' The Lorax":'tt1482459',
           "Monsters Vs. Aliens":'tt0892782',
           "Jackass 3-D":'tt1116184',
           "Dr. Seuss' The Grinch (2018)":'tt2709692',
           "Fantastic Four: Rise of the Silver Surfer":'tt0486576'}


for title in boxOffice_df['Title']:
    if title in wrong_movies:
        movie_id = wrong_movies[title]
        movie = requests.get(api_url + '&i=' + movie_id).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    elif "(" in title:
        year = title[-5:][:-1]
        title = title[:-6]
        movie = requests.get(api_url + '&t=' + title + '&y=' + year).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    else:
        movie = requests.get(api_url + '&t=' + title).json()
        if movie['Response'] == "True":
            movie_data.append(movie)

In [44]:
rotten_tomatoes = []
metascore = []
count = 0

for movie in movie_data:
    try:
        rating = movie['Ratings'][1]['Value']
        if "/" in rating:
            rating = rating[0:2]
            rotten_tomatoes.append(rating)
        else:
            rating = rating[:-1]
            rotten_tomatoes.append(rating)
    except IndexError:
        rating = '0'
        rotten_tomatoes.append(rating)

for movie in movie_data:
    score = movie['Metascore']
    if score == 'N/A':
        score = 0
        metascore.append(score)
    else:
        metascore.append(score)

In [47]:
movie_df = pd.DataFrame(movie_data)
movie_df['Rotten Tomatoes'] = rotten_tomatoes
movie_df['Metascore'] = metascore
movie_df.columns
movie_df = movie_df.reset_index()
movie_df['Rank'] = movie_df['index'] + 1

df = movie_df[['Rank','Title','Plot','Actors', 'Director', 'Genre', 'Poster', 
               'Rated', 'imdbRating', 'Metascore','Rotten Tomatoes']]

In [48]:
split_columns = ['Actors','Director','Genre']


split_actors = []
split_directors = []
split_genre = []
split_plot = []

for column in split_columns:
    for row in df[column]:
        split_row = row.split(", ")
        if column == 'Actors':
            split_actors.append(split_row)
        elif column == 'Director':
            split_directors.append(split_row)
        else:
            split_genre.append(split_row)


for row in df['Plot']:
    split_row = row.split(" ")
    split_plot.append(split_row)

split_df = df.copy()
split_df['Actors'] = split_actors
split_df['Director'] = split_directors
split_df['Genre'] = split_genre
split_df['Plot'] = split_plot

split_df['imdbRating'] = pd.to_numeric(split_df['imdbRating'])
split_df['Metascore'] = pd.to_numeric(split_df['Metascore'])
split_df['Rotten Tomatoes'] = pd.to_numeric(split_df['Rotten Tomatoes'])

In [49]:
new_df = boxOffice_df.merge(split_df,left_on = 'Rank',right_on='Rank')

new_df = new_df[['Rank', 'Title_x', 'Studio', 'Opening', '% of Total', 'Theaters',
       'Average', 'Total Gross', 'Date', 'Plot', 'Actors',
       'Director', 'Genre', 'Poster', 'Rated', 'imdbRating', 'Metascore','Rotten Tomatoes']]

new_df = new_df.rename(columns={"Title_x": "Title"})

In [16]:
# Create list of dictionaries
movies_dict = new_df.to_dict('records')

In [17]:
# Declare the collection
collection = client.movie_db.movie_detail
# Insert all of the documents into the collection
collection.insert_many(movies_dict)